@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

.login {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.login img {
    position: absolute;
    top:75px;
}

.inserirDados {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.inserirDados input {
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    /* text-align: center; */
    font-family:'Roboto';
    font-size: 16px;
    padding-left: 10px;
}

.inserirDados input:focus {
    text-align: initial;
    outline: none;
}

.inserirDados button {
    width:109px;
    height: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
    background: #E7E7E7;
    border-radius: 9px;
    border: none;

}
.inserirDados button:hover {
    cursor: pointer;
}

.inserirDados input::placeholder {
    font-style: normal;
    color: #D7D7D7;
    text-align: center;
}

.carregando {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.entrando {
    width: 200px;
    height: 200px;
    background-color: #FEB621;
    border-radius: 10px;
    color:#D52322;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    /* position: fixed;
    opacity: 1;
    z-index: 4; */
}

.entrando img {
    width: 85px;
    position: absolute;
    top: 20px;
}
.entrando p{
    margin-left: 25px;
    margin-top: 30px;
}

.escondido {
    display: none;
}

.sidebar{
    width: 100%;
    height: 100%;
    background-color: rgba(68, 65, 65, 0.7);
    position:fixed;
    bottom:0;
    left:0;
    z-index: 3;
}

.menu {
    width: 259px;
    height: 100%;
    background-color: #FFFFFF;
    padding-left:17px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
}
.menu h1, .menu h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #000000;
}
.div-h1{
 width: 170px;
 height: 84px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
}
.li-div {
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.li-div img {
    margin-right: 5px;
}
.check-icon {
    position: absolute;
    bottom: 3px;
    left: 200px;
    opacity: 0;
}
.selecionado {
    opacity: 1;
}
.ul-1 {
    margin-bottom: 25px;
    height: 250px;
    overflow-y: scroll;
}

.ul-1::-webkit-scrollbar {
    background-color: #e5e5e5;
    /* height: 6px; */
    width: 6px;
}

.ul-1::-webkit-scrollbar-thumb {
    background-color: #bdb8b8;
    border-radius: 5px;
}

header {
    width:100%;
    height: 80px;
    background-color: #FFFFFF;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    top: 0;
    left: 0;
}

.logo img {
    width: 75px;
    height: 53px;
}

.peopleIcon img {
    width:45px;
    height: 45px;
}

.content {
    width:100%;
    min-height:calc(100vh - 80px*2);
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: green;
    margin:80px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #E5E5E5;
    padding: 0 3px;
}

.descricao p {
    width: 78vw;
}

.div-msg {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}
 .status {
    background: #DCDCDC;
 }

.publica {
    background-color: #FFFFFF;
}
.msg {
    margin-left: 5px;
}

.reservada {
    background-color: #FFDEDE;
}
.user {
    font-weight: bold;
}

.hora {
    margin:0 5px;
    color: #AAAAAA;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    /* background-color: yellow; */
}

footer input {
    width: 88%;
    height: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border: none;
    outline: none;
    padding-left: 10px;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

footer ion-icon {
    font-size: 26px;
}
.button-enviar {
    width:34px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
@media (min-width: 600px) {
    footer ion-icon {
        font-size: 26px;
    } 
     .button-enviar {
        margin-right: 2%;
    } 
    footer input {
        width: 92%;
    }
    .entrando {
        width: 350px;
        height: 200px;
    }
    .login img {
        position: absolute;
        top:12vh;
    }
} 